/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 28, 2018, 2:24:44 PM
    Author     : Britt
*/

.container, body, nav {
    background-color: #d2d3d3;
}

.navbar-collapse {
    /*Add border above and below navigation items (not logo), only width of nav items*/
    border-top: 4px solid #010101; 
    border-bottom: 4px solid #010101; 
}  



.navbar {
    margin: 1rem 1rem;
    padding: 0;
    //  border-top: 4px solid #010101; 
    // border-bottom: 4px solid #010101; 
}
 .navbar-light .navbar-nav .nav-link {
      font-family: 'Playfair Display SC', serif;
     font-size: 1.25em;
     color: #010101;
 }
 .navbar-light .navbar-nav .nav-link:hover, a:hover{
     color:#a08020;
 }
 a{
    font-family: 'Playfair Display SC', serif;
     font-size: 1em;
     color: #010101; 
 }
 h1{
     font-family: 'Playfair Display SC', serif;
     color: #010101;
     text-align: center;
 }
 h2{
     font-family: 'Playfair Display SC', serif;
     color: #a08020;
 }
 h3{
     font-family: 'Raleway', sans-serif;
     font-size: 1.2rem;
     font-weight: bold;
 }
 body{
     font-family: 'Raleway', sans-serif;
 }
 td > a{
     font-family: 'Raleway', sans-serif;
 }
 .btn-dark{
     margin: 0.5rem;
     color: #a08020;
 }
 .col-4{
     margin-top: 1.5rem;
 }

 .navbar-light .navbar-toggler{
     border: none;
 }

 .product-box{
     margin-top:1rem;
 }

 .info-box{
     border: solid 1px
 }
